body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(../images/background.jpg);
    color: white;
}
.col-md-12 {
    font-size: 30px;
    text-align: center;
}

.info {
    font-size: 10px;
}

img {
    width: 175px;
    height: 175px;
    margin-left: 75px;
    opacity: .65;
}

#randomizedNum, #yourScore, .tracker {
    text-align: center;
}
